<!DOCTYPE html>
<html>
  {% load staticfiles %}
  <head>
    <link rel="stylesheet" href="{% static 'rent/css/register.css' %}">
    <title> Register form </title>
        <div class="form-group">
        </div>
    <body>
        <form  method="POST" action="register">
        {% csrf_token %}
        <div class="Register-box">
        <h1>Register here!</h1>
        <div class="textbox">
            <input type="text" name="username" placeholder="Username">
        </div>
        <div class="textbox">
            <input type="email" name="email" placeholder="Email">
        </div>
        <div class="textbox">
            <input type="password" name="password1" placeholder="Password">
        </div>
        <div class="textbox">
            <input type="password" name="password2" placeholder="Re-Enter Password">
        </div>
    
        <input type="submit" class="btn btn-primary" value="Sign Up!">
        <a href='\' input type="submit" class="Register-box1">Back</a>
        </div>
        </form>
        <div class="float-sm-right">
        {% for message in messages %}
            <h3>{{message}}</h3>
        {% endfor %}
        </div>
        </body><style>
                h5 {
                    color: white;
                }
            </style>
    </head>
</html>